body {
    max-width: 1400px;
}

.plotShell {
    height: 720px;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #bbb;
    margin-bottom: 5px;
}

.para {
    font-size: 18px;
    margin-bottom: 16px;
    width: 800px;
}

div#footer {
    margin-top:         5px;
}
